@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --border: 0 0% 90%;
  --input: 0 0% 90%;
  --ring: 0 0% 10%;
  --background: 0 0% 100%;
  --foreground: 0 0% 10%;
  --primary: 0 0% 10%;
  --secondary: 0 0% 90%;
  --muted: 0 0% 95%;
  --accent: 0 0% 90%;
  --popover: 0 0% 100%;
  --card: 0 0% 100%;
}